## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop (columns = ["EIN", "NAME"])
#app_df.head()

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app = application_df['APPLICATION_TYPE'].value_counts()
app

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app[app > 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
Other    32033
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
T25          3
T14          3
T29          2
T15          2
T17          1
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
clasify = application_df['CLASSIFICATION'].value_counts()
clasify

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
cc = clasify[clasify > 1]
cc

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(clasify[clasify > 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
Other    32038
C7000      777
C1700      287
C4000      194
C5000      116
         ...
C4120        1
C8210        1
C1245        1
C2561        1
C2150        1
Name: count, Length: 67, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
num_df = pd.get_dummies(application_df)

In [10]:
num_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,True,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
X = num_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = num_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
nn_model = tf.keras.models.Sequential()
number_input_features = len(X_train[0])

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=100, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=60, activation="relu"))

#third hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               10900

 dense_1 (Dense)             (None, 60)                6060

 dense_2 (Dense)             (None, 30)                1830

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 18821 (73.52 KB)
Trainable params: 18821 (73.52 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.9721 - accuracy: 0.6897
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9314 - accuracy: 0.7023
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.9132 - accuracy: 0.7029
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8172 - accuracy: 0.7028
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7907 - accuracy: 0.7072
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6966 - accuracy: 0.7088
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6768 - accuracy: 0.7103
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6577 - accuracy: 0.7086
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6695 - accuracy: 0.7065
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6735 - accuracy: 0.7041
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6654 - accuracy: 0.7083
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6480 - accuracy: 0.7051
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6302 - accuracy: 0.7120
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6471 - accuracy: 0.7057
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6553 - accuracy: 0.7091
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6267 - accuracy: 0.7091
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6411 - accuracy: 0.7093
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6320 - accuracy: 0.7132
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6570 - accuracy: 0.7076
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6502 - accuracy: 0.7121
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6759 - accuracy: 0.7071
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6499 - accuracy: 0.7112
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6329 - accuracy: 0.7137
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6397 - accuracy: 0.7107
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6366 - accuracy: 0.7132
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6224 - accuracy: 0.7144
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6305 - accuracy: 0.7119
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6207 - accuracy: 0.7172
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6309 - accuracy: 0.7141
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6333 - accuracy: 0.7152
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6304 - accuracy: 0.7105
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6268 - accuracy: 0.7096
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6224 - accuracy: 0.7089
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6102 - accuracy: 0.7151
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6162 - accuracy: 0.7168
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6224 - accuracy: 0.7168
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6253 - accuracy: 0.7147
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6222 - accuracy: 0.7174
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6323 - accuracy: 0.7149
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6221 - accuracy: 0.7162
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6212 - accuracy: 0.7152
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6229 - accuracy: 0.7159
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6145 - accuracy: 0.7173
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6140 - accuracy: 0.7162
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6178 - accuracy: 0.7159
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6190 - accuracy: 0.7147
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6246 - accuracy: 0.7152
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6145 - accuracy: 0.7173
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6222 - accuracy: 0.7140
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6212 - accuracy: 0.7157

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6765 - accuracy: 0.7066 - 501ms/epoch - 2ms/step
Loss: 0.6764757633209229, Accuracy: 0.7065889239311218

In [17]:
# Export our model to HDF5 file
hdf5store = pd.HDFStore('AlphabetSoupCharity_Optimization.h5')